<!DOCTYPE html>
<html>
    <head>
        <title>Mad Lib Story</title>
    </head>
    <body>
        <h1> <strong>A WILD STORY!!?</strong></h1>
        <br>
        <p> Once upon a time, @Model.Name1 and @Model.Name2 were walking in the woods. Suddenly, they came upon a ferocious @Model.Animal!!! @Model.Name1 hollered "@Model.Exclamation", threw a @Model.Thing at the @Model.Animal, and ran away. @Model.Name2 walked up to the startled @Model.Animal and gave it one @Model.Food as a peace offering. They soon became fast friends and forgot all about @Model.Name1!</p>
        
    </body>
</html>